#rename this file to mysql.cfg and set values for mysql syntax check
# set 'connect' to 0 to disable connection attempts
# set 'useapi' to 1 to analyse using google-mysql-tools. 'path' is not needed if 1

[mysql]
connect=1
useapi=0
host=localhost
port=3306
user=root
pass=******
dbname=test
path=c:\Program Files (x86)\MySQL\MySQL Server 5.1\bin
