#in python "os.name" nt->windows, posix->linux

[paths]
nt=e:/Develop/desarrollo/python/ancho/workspace/Playero/
posix="/home/ancho/Develop/Playero/

[corepylibs]
nt=python/python24/Lib/site-packages/windows
posix=python/python24/Lib/site-packages/linux
